#app.container
  .section
    h1.title.is-1.has-text-centered
      | JS Diff test
    .columns
      .column
        h3.title.has-text-centered
          | Version1
        .content
          textarea.textarea(v-model="str1")
      .column
        h3.title.has-text-centered
          | Version2
        .content
          textarea.textarea(v-model="str2")
  .section
    .diff
      h3.title.has-text-centered
        | VersionDiff
      .diff-content(v-html="strDiff")
  .section
    h3.title.has-text-centered
      | Side by Side
    .columns
      .column
        .diff-content(v-html="strDiffSideRemoved")
      .column
        .diff-content(v-html="strDiffSideAdded")
